<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>WatchForClass (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>WatchForClass (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>WatchForClass (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WatchForClass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchTwo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C361F541CDBB08E00E7113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C361F6B1CDBB08F00E7113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C361F7C1CDBB0B500E7113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C361FAF1CDBD65E00E7113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C361FB81CDBD65E00E7113C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
